APScheduler==3.8.1
asgiref==3.5.2
backports.zoneinfo==0.2.1
boto3==1.19.7
botocore==1.22.12
Django==3.2.8
django-apscheduler==0.6.0
django-ckeditor==6.1.0
django-cors-headers==3.10.0
django-js-asset==1.2.2
django-multiselectfield==0.1.12
django-storages==1.12.3
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
firebase==3.0.1
jmespath==0.10.0
mysqlclient==2.1.0
numpy==1.19.5
pandas==1.1.5
pgeocode==0.3.0
Pillow==6.2.2
PyJWT==1.7.1
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.11.1
s3transfer==0.5.2
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
